<div class="container">
    <app-topbar [title]="'assg.title' | translate"></app-topbar>
    <app-sidenav [sideNavItem]="commonService.sideNavItem" [menuList]="'assg.sideStepMenu' | translate"
        [stepNumber]="stepNumber">
    </app-sidenav>

   <!--  <div *ngfor="*let h of denpendices.vale; let i = index"> -->
        <div class="col-sm-9 right-panel np-right">
            <form [formGroup]="fillForm" (ngSubmit)="doSubmit()" (keydown.enter)="$event.preventDefault()">
                <div class="container np">
                    <div class="content" role="main" id="content">
                        <!-- ----------------------------------------- content ---------------------------------------- -->
                        <!-- Part 1 - Application for employment as Professionals in Hong Kong-->
                        <div class="panel panel-default">
                            <div class="panel-heading panel-title text-left " style="text-align:left;width:100%">
                                <i class="glyphicon glyphicon-list-alt"></i>&nbsp;{{'residence {i}' | translate}}
                            </div>
                            <div class="panel-body">

                                <div class='row'>
                                    <div class="col-md-12 form-group">
                                        <label
                                            class="control-label">{{'assg.form1017.nameInEnglish' | translate}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label
                                            class="control-label required-star">{{'assg.form.engSurName' | translate}}</label>
                                        <input id="engSurName" name="engSurName" maxlength="33"
                                            class="form-control all-caps" type="text" formControlName="engSurName"
                                            (change)="cutValues($event.target.value,'engSurName')"
                                            (input)="$event.target.value = validationUtils.startWithSpaceMask($event.target.value)">
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <label
                                            class="control-label required-star">{{'assg.form.engGivenName' | translate}}</label>

                                        <input id="engGivenName" name="engGivenName" maxlength="33"
                                            class="form-control all-caps" type="text" formControlName="engGivenName"
                                            (change)="cutValues($event.target.value,'engGivenName')"
                                            (input)="$event.target.value = validationUtils.startWithSpaceMask($event.target.value)">
                                    </div>
                                </div>
                                <!-- Chinese Name & alies -->
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label
                                            class="control-label required-star">{{'assg.form.chiName' | translate}}</label>
                                        <input id="engSurName" name="engSurName" maxlength="33"
                                            class="form-control all-caps" type="text" formControlName="chiName"
                                            (change)="cutValues($event.target.value,'chiName')"
                                            (input)="$event.target.value = validationUtils.startWithSpaceMask($event.target.value)">
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <label
                                            class="control-label required-star">{{'assg.form.alias' | translate}}</label>

                                        <input id="engGivenName" name="alias" maxlength="33"
                                            class="form-control all-caps" type="text" formControlName="alias"
                                            (change)="cutValues($event.target.value,'alias')"
                                            (input)="$event.target.value = validationUtils.startWithSpaceMask($event.target.value)">
                                    </div>
                                </div>
                                <!-- Sex -->
                                <div class="row">

                                    <div id="sex" class="col-md-6 form-group">
                                        <label
                                            class="control-label required-star">{{'assg.form.sex' | translate}}</label>
                                        <div class="form-group">
                                            <label class="checkbox-inline"><input id="male" name="male" type="checkbox"
                                                    formControlName="sex">
                                                {{'assg.form.male' | translate}}</label>
                                            <label class="checkbox-inline"><input id="female" name="female"
                                                    type="checkbox" formControlName="sex">
                                                {{'assg.form.female' | translate}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!-- Date Of Birth-->
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label
                                            class="control-label required-star">{{'assg.form.dob' | translate}}</label>
                                        <div class="flex-container">
                                            <div class="col-md-3" style="padding-left: 0px;">
                                                <select id="dobDay" name="dobDay" class="form-control datePickerDate "
                                                    type="text" formControlName="dobDay">
                                                    <option value='' disabled selected>
                                                        {{'assg.form.day' | translate}}
                                                    </option>
                                                    <option value='00' selected> 00 </option>
                                                    <option *ngFor="let day of fromDayList" value="{{day}}">
                                                        {{day}}</option>
                                                </select>
                                            </div>

                                            <div class="col-md-3" style="padding-left: 0px;">
                                                <select id="dobMonth" name="dobMonth"
                                                    class="form-control datePickerMonth" type="text"
                                                    formControlName="dobMonth"
                                                    (blur)="onMonthYearChange('dobDay','dobMonth','dobYear')">
                                                    <option value='' disabled selected>
                                                        {{'assg.form.month' | translate}}
                                                    </option>
                                                    <option value='00' selected> 00 </option>
                                                    <option *ngFor="let month of monthList" value="{{month}}">
                                                        {{month}}</option>
                                                </select>
                                            </div>

                                            <div class="col-md-4" style="padding-left: 0px;">
                                                <select id="dobYear" name="dobYear" class="form-control datePickerYear "
                                                    type="text" formControlName="dobYear"
                                                    (blur)="onMonthYearChange('dobDay','dobMonth','dobYear')">
                                                    <option value='' disabled selected>
                                                        {{'assg.form.year' | translate}}
                                                    </option>
                                                    <option value='0000' selected> 0000 </option>
                                                    <option *ngFor="let year of yearsList" value="{{year}}">
                                                        {{year}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label
                                            class="control-label required-star">{{'assg.form.placeOfBirth' | translate}}</label>
                                        <input id="placeOfBirth" name="placeOfBirth" class="form-control all-caps"
                                            maxlength="50" type="text" formControlName="placeOfBirth">
                                    </div>
                                </div>

                                <!-- Nationality -->
                                <!-- RelationShip -->
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label class="control-label">{{'assg.form.nationality' | translate}}</label>
                                        <input id="nationality" name="nationality" class="form-control all-caps"
                                            maxlength="50" type="text" formControlName="nationality">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label class="control-label">{{'assg.form.relationShip' | translate}}</label>
                                        <input id="relationShip" name="relationShip" class="form-control all-caps"
                                            maxlength="50" type="text" formControlName="relationShip">
                                    </div>
                                </div>

                                <!-- Marital status -->
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label class="control-label">{{'assg.form.maritalStatus' | translate}}</label>
                                        <input id="maritalStatus" name="maritalStatus" class="form-control all-caps"
                                            maxlength="50" type="text" formControlName="maritalStatus">
                                    </div>
                                </div>
                                <!-- Travel document type & no -->
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label
                                            class="control-label required-star">{{'assg.form.travelDocType' | translate}}</label>
                                        <select id="travelDocType" name="travelDocType"
                                            class="form-control travelDocType" type="text"
                                            formControlName="travelDocType">
                                            <option value='' disabled selected>
                                                {{'assg.form.selectType' | translate}}
                                            </option>
                                            <option value='00' selected> {{'Type1'}} </option>
                                            <option value='01' selected> {{'Type2'}} </option>
                                            <option value='02' selected> {{'Type3'}} </option>
                                        </select>

                                    </div>

                                    <div class="col-md-6 form-group">
                                        <label
                                            class="control-label required-star">{{'assg.form.travelDocValue' | translate}}</label>
                                        <input id="travelDocValue" name="travelDocValue" class="form-control all-caps"
                                            maxlength="6" type="text" formControlName="travelDocValue"
                                            (input)="maskChineseValues($event.target.value, 'travelDocValue')">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Part 1 -->

                        <!-- ----------------------------------------- button ---------------------------------------- -->
                        <div class="row">
                            <div class="col-md-3 col-sm-3  col-xs-12 m-5000">
                                <button id="submitBtn" value="" name="submitBtn" type="button"
                                    class="btn btn-brown btn-block"
                                    (click)="backClicked()">{{ 'COMMON.CANCEL' | translate }}
                                </button>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 m-5000"><button id="cancelBtn" name="cancelBtn"
                                    type="reset" class="btn btn-brown btn-block" (click)="toReset()">
                                    {{ 'COMMON.RESET' | translate }}
                                </button>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 m-5000"><button id="saveBtn" name="saveBtn"
                                    type="reset" class="btn btn-brown btn-block">
                                    {{ 'COMMON.SAVE' | translate }}
                                </button>
                            </div>
                            <div class="col-md-3 col-sm-3  col-xs-12 m-5000">
                                <button type="submit"
                                    class="btn btn-brown btn-block">{{ 'COMMON.CONTINUE' | translate}}</button>
                            </div>
                        </div>
                        <!-- ----------------------------------------- endP button ---------------------------------------- -->

                    </div>
                </div>
            </form>
        </div>


    <!-- </div> -->
</div>