<br />
<div class="container">
  <app-topbar [title]="'fdhes.title' | translate"></app-topbar>
  <app-sidenav [sideNavItem]="commonService.sideNavItem" [menuList]="'fdhes.sideStepMenu' | translate" [stepNumber]="stepNumber">
  </app-sidenav>
  <div class="col-sm-9 right-panel np-right">
    <form [formGroup]="fillForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
      <div class="content" role="main" id="content">
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table ">
              <tbody>
                <tr style="border-top-color: white">
                  <td colspan="3" style="border-top-color: white">
                    {{'fdhes.flowSelect.new_selectTitle' | translate}}
                  </td>
                </tr>
                <tr>
		  <td width="5" style="background:#DDE4F6;">
			&nbsp;
		  </td>
                  <td colspan="2" style="background:#DDE4F6;">
                    <label class="radio-inline">
                      <input id="applicant" type="radio" name="selected" formControlName="selected" value="A" (change)="selected='A'">
                      <b> {{'fdhes.flowSelect.option1' | translate}}</b></label>
                  </td>
                </tr>
                <br />
                <tr>
		  <td width="5" style="background:#DDE4F6;">
			&nbsp;
		  </td>
                  <td colspan="2" style="background:#DDE4F6;">
                    <label class="radio-inline">
                      <input id="asDepid" type="radio" name="selected" formControlName="selected" value="S" (change)="selected='S'">
                      <b> {{'fdhes.flowSelect.new_option2' | translate}} </b></label>
                  </td>
                </tr>
                <br />
              </tbody>
            </table>

            <div class="row">
              <div class="col-md-12 form-group">
                <label class="control-label required-star">{{'fdhes.flowSelect.email' | translate}}</label>
                <input id="email" name="email" class="form-control" maxlength="33" type="text" formControlName="email">
              </div>
      </div>
      
            <div class="row">
              <div class="col-md-12 form-group">
                <label class="control-label required-star">{{'fdhes.flowSelect.reEnterEmail' | translate}}</label>
                <input id="reEnterEmail" name="reEnterEmail" class="form-control" maxlength="33" type="text" formControlName="reEnterEmail">
              </div>
      </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <div>
                  <label class="control-label">{{'fdhes.flowSelect.haveVerifyNo' | translate}}</label><br>
                  <label class=""><input id="isVerifyYes" name="isVerify" type="radio" checked="true" value="false" (change)="isVerify=false">
                    {{'fdhes.flowSelect.firstToSubmit' | translate}}</label><br>
                  <label class=""><input id="isVerifyNo" name="isVerify" type="radio" value="true" (change)="isVerify=true">
					<ng-container *ngIf="selected === 'A'">
                    {{'fdhes.flowSelect.employerAlreadySubmit' | translate}}
					</ng-container>
					<ng-container *ngIf="selected !== 'A'">
                    {{'fdhes.flowSelect.applicantAlreadySubmit' | translate}}
					</ng-container>
                  </label>
                </div>
                <div *ngIf="isVerify">
                  <label class="control-label required-star">{{'fdhes.flowSelect.verificationNo' | translate}}</label>
                  <input id="verificationCode" name="verificationCode" class="form-control" maxlength="33" type="text"
                    formControlName="verificationCode">
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="row">
          <div class="col-md-3 col-sm-3  col-xs-12 m-5000">
            <button class="btn btn-brown btn-block" type="button" (click)="onSubmit()">{{'button.continue' | translate}}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>