<div class="container">
    <app-topbar [title]="'coe.form.title' | translate"></app-topbar>
    <app-sidenav [sideNavItem]="commonService.sideNavItem" [menuList]="'coe.sideStepMenu' | translate" [stepNumber]="stepNumber">
    </app-sidenav>
    <div class="col-sm-9 right-panel np-right">
        <form [formGroup]="fillForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
            <div class="container np">
                <div class="content" role="main" id="content">
                    <!-- ----------------------------------------- content ---------------------------------------- -->
                    <div class="panel panel-default">
                        <ng-container *ngIf="age>=18;else under18">
                            <div class="panel-heading panel-title text-left " style="text-align:left;width:100%">
                                <i
                                    class="glyphicon glyphicon-list-alt"></i>&nbsp;{{'coe.declaration.over18.title' | translate}}
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        {{'coe.declaration.over18.0' | translate}}
                                    </div>
                                    <div class="col-md-12 form-group">
                                        {{'coe.declaration.over18.1' | translate}}
                                    </div>
                                    <div class="col-md-12 form-group">
                                        {{'coe.declaration.over18.2' | translate}}
                                    </div>
                                    <div class="col-md-12 form-group">

                                        {{'coe.declaration.over18.3a' | translate}}

                                        <span>
                                            <label class="checkbox-inline"><input id="male" name="male" type="checkbox">
                                                {{'coe.declaration.father' | translate}}</label>
                                            /
                                            <label class="checkbox-inline"><input id="female" name="female"
                                                    type="checkbox">
                                                {{'coe.declaration.mother' | translate}}
                                            </label>
                                            <div *ngIf="submitted && fillForm.hasError('sexCheck')"
                                                class="errorMsg col-md-12 col-xs-12 " style="color:red">
                                                <ng-container *ngIf="errorCode">E-2113:</ng-container>
                                                {{'568-E-2113' | translate}}
                                                <!-- Please select sex. For unknown sex, please select 'Both'. -->
                                            </div>
                                        </span> {{'coe.declaration.over18.3b' | translate}}
                                    </div>
                                    <div class="col-md-12 form-group">
                                        {{'coe.declaration.over18.4' | translate}}
                                    </div>
                                    <div class="col-md-12 form-group">
                                        {{'coe.declaration.over18.5' | translate}}
                                    </div>
                                    <div class="col-md-12 form-group">
                                        {{'coe.declaration.over18.6' | translate}}
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                        <ng-template #under18>
                            <div class="panel-heading panel-title text-left " style="text-align:left;width:100%">
                                <i
                                    class="glyphicon glyphicon-list-alt"></i>&nbsp;{{'coe.declaration.under18.title' | translate}}
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        {{'coe.declaration.under18.0a' | translate}}
                                    </div>
                                    <div class="col-md-12 form-group">
                                        {{'coe.declaration.under18.0b' | translate}}
                                    </div>
                                    <div class="col-md-12 form-group">
                                        {{'coe.declaration.under18.1' | translate}}
                                    </div>
                                    <div class="col-md-12 form-group">

                                        {{'coe.declaration.under18.2a' | translate}}
                                        <select name="" id="">
                                            <option value="father">{{'coe.declaration.father' | translate}}</option>
                                            <option value="mother">{{'coe.declaration.mother' | translate}}</option>
                                            <option value="guardian">{{'coe.declaration.guardian' | translate}}</option>
                                        </select> {{'coe.declaration.under18.2b' | translate}}
                                    </div>
                                    <div class="col-md-12 form-group">
                                        {{'coe.declaration.under18.3' | translate}}
                                    </div>
                                    <div class="col-md-12 form-group">
                                        {{'coe.declaration.under18.4a' | translate}}
                                        <span>
                                            <label class="checkbox-inline"><input id="male" name="male" type="checkbox">
                                                {{'coe.declaration.father' | translate}}</label>
                                            /
                                            <label class="checkbox-inline"><input id="female" name="female"
                                                    type="checkbox">
                                                {{'coe.declaration.mother' | translate}}
                                            </label>
                                            <div *ngIf="submitted && fillForm.hasError('sexCheck')"
                                                class="errorMsg col-md-12 col-xs-12 " style="color:red">
                                                <ng-container *ngIf="errorCode">E-2113:</ng-container>
                                                {{'568-E-2113' | translate}}
                                                <!-- Please select sex. For unknown sex, please select 'Both'. -->
                                            </div>
                                        </span> {{'coe.declaration.under18.4b' | translate}}
                                    </div>
                                    <div class="col-md-12 form-group">
                                        {{'coe.declaration.under18.5' | translate}}
                                    </div>
                                    <div class="col-md-12 form-group">
                                        {{'coe.declaration.under18.6' | translate}}
                                    </div>
                                    <div class="col-md-12 form-group">
                                        {{'coe.declaration.under18.7' | translate}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label class="control-label">{{'coe.form.name' | translate}}</label>

                                        <input id="" name="" maxlength="40" class="form-control all-caps" type="text">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label">{{'coe.form.hkidNo' | translate}}</label>
                                        <div class="col-xs-8">
                                            <input id="hkId1" class="form-control all-caps" type="text" maxlength="8">
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="hkbracket">
                                                <input id="hkId2" class="form-control all-caps" type="text"
                                                    maxlength="1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <label class="control-label">{{'coe.form.address' | translate}}</label>
                                        <input id="address" name="address" class="form-control address" type="text"
                                            maxlength="99">

                                        <div *ngIf="submitted && f.email.errors && f.email.errors.tradChinEngCheck"
                                            class="errorMsg col-md-12 col-xs-12 " style="color:red">
                                            <ng-container *ngIf="errorCode">E-2120:</ng-container>
                                            {{'568-E-2120' | translate}}
                                            <!-- Please input the nationality in English or Traditional Chinese. -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </ng-template>
                    </div>
                    <app-signature-pad [ngClass]="signPadService.showSignPad?'show':'hide'" (signed)="onSubmit($event)">
                    </app-signature-pad>

                    <!-- ----------------------------------------- content end ---------------------------------------- -->
                    <!-- ----------------------------------------- button ---------------------------------------- -->
                    <div class="col-md-3 col-sm-3  col-xs-12 m-5000">
                        <button id="submitBtn" value="" name="submitBtn" type="button" class="btn btn-brown btn-block"
                            (click)="backClicked()">{{ 'COMMON.BACK' | translate }}
                        </button>
                    </div>
                    <div class="col-md-3 col-sm-3  col-xs-12 m-5000">
                        <button id="submitBtn" value="" name="submitBtn" type="button"
                            class="btn btn-brown btn-block">{{ 'COMMON.SAVE' | translate }}
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3  col-xs-12 m-5000">
                            <button type="button" class="btn btn-brown btn-block"
                                (click)="signForm()">{{ 'coe.declaration.sign' | translate }}</button>
                        </div>
                    </div>
                    <!-- ----------------------------------------- end button ---------------------------------------- -->
                </div>
            </div>
        </form>
    </div>
</div>