<div class="footer-wrapper">
  <footer class="footer">
    <div class="container">
      <div>
        <ul class="nav nav-pills nav-justified">
          <li>
            <a href="http://www.gov.hk/{{linkLang}}/about/aboutus.htm" rel="external" title="About GovHK"
              target="_blank">{{'FOOTER.ABOUT-GOVHK' | translate}}</a>
          </li>
          <li>
            <a href="http://www.gov.hk/{{linkLang}}/about/copyright.htm" rel="external" title="Copyright Notice"
              target="_blank">{{'FOOTER.COPY-RIGHT-NOTICE' | translate}}</a>
          </li>
          <li>
            <a href="http://www.gov.hk/{{linkLang}}/about/privacy.htm" rel="external" title="Privacy Policy"
              target="_blank">{{'FOOTER.PRIVACY-POLICY' | translate}}</a>
          </li>
          <li>
            <a href="http://www.gov.hk/{{linkLang}}/about/copyright.htm#disclaimer" rel="external" title="Disclaimer"
              target="_blank">{{'FOOTER.DISCLAIMER' | translate}}</a>
          </li>
        </ul>
      </div>
      <hr>
      <p></p>
      <div class="row">
        <div class="col-xs-6 col-md-6">
          <a title="Level Double-A conformance, W3C WAI Web Content Accessibility Guidelines 2.0"
            href="http://www.w3.org/WAI/WCAG2AA-Conformance" rel="external" target="_blank">
            <img src="assets/image/wcag2aa.gif"
              alt="Level Double-A conformance, W3C WAI Web Content Accessibility Guidelines 2.0"> </a>
        </div>
        <div class="col-xs-6 col-md-6 text-right">
          <a title="Brand Hong Kong" href="http://www.brandhk.gov.hk/" rel="external" target="_blank">
            <img src="assets/image/brandhk.gif" class="brandhk" alt="Brand Hong Kong"> </a>
        </div>
      </div>
    </div>
  </footer>
</div>