<div class="container">
    <app-topbar [title]="'assg.title' | translate"></app-topbar>
    <app-sidenav [sideNavItem]="commonService.sideNavItem" [menuList]="'assg.sideStepMenu' | translate" [stepNumber]="stepNumber">
    </app-sidenav>
    <div class="col-sm-9 right-panel np-right">
        <form (ngSubmit)="next()" (keydown.enter)="$event.preventDefault()">
            <div class="container np">
                <div class="content" role="main" id="content">
                  <!-- <div class="panel panel-default">
                      <div class="panel-body" style="background:#DDE4F6;">
						<div class="row">
							<label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
							<label class="control-label">{{ subType }}</label>
							<label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[</label>
							<label class="control-label">{{ emailVal }}</label>
							<label class="control-label">]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
							<label class="control-label">Verfication Code: {{ verificationCode }}</label>
						</div>
					  </div>
					</div> -->
                    <div class="panel panel-default">
                        <div class="panel-heading panel-title text-left " style="text-align:left;width:100%">
                            <i class="glyphicon glyphicon-list-alt"></i>&nbsp;{{'assg.acknowledgement.title.acknowledgement' | translate}}
                        </div>
                        <div class="panel-body">
                            <label class="control-label">{{'assg.acknowledgement.receipt' | translate}}</label>
                            <div class="row">
                                <div class="col-md-3 col-sm-3  col-xs-12 m-5000">
                                    <button id="submitBtn" value="" name="submitBtn" type="button"
                                        class="btn btn-brown btn-block"
                                        (click)="backClicked()">{{ 'COMMON.SAVE-ONLY' | translate }}
                                    </button>
                                </div>
                                <div class="col-md-3 col-sm-3  col-xs-12 m-5000">
                                    <button type="submit"
                                        class="btn btn-brown btn-block">{{ 'COMMON.PRINT' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading panel-title text-left " style="text-align:left;width:100%">
                            <i
                                class="glyphicon glyphicon-list-alt"></i>&nbsp;{{'assg.acknowledgement.title.service' | translate}}
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <label
                                    class="control-label col-md-6">{{'assg.acknowledgement.typeService' | translate}}</label>
                                <label class="control-label col-md-6">{{'assg.acknowledgement.assg' | translate}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading panel-title text-left " style="text-align:left;width:100%">
                            <i
                                class="glyphicon glyphicon-list-alt"></i>&nbsp;{{'assg.acknowledgement.title.transaction' | translate}}
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <label
                                    class="control-label col-md-6">{{'assg.acknowledgement.transDateTime' | translate}}</label>
                            </div>
                            <div class="row">
                                <label
                                    class="control-label col-md-6">{{'assg.acknowledgement.transReference' | translate}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3  col-xs-12 m-5000">
                            <button id="submitBtn" value="" name="submitBtn" type="button"
                                class="btn btn-brown btn-block" (click)="backClicked()">{{ 'COMMON.BACK' | translate }}
                            </button>
                        </div>
                        <div class="col-md-3 col-sm-3  col-xs-12 m-5000">
                            <button type="submit"
                                class="btn btn-brown btn-block">{{ 'COMMON.COMPLETE' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>