<div class="container">
    <app-topbar [title]="'pnvExtendTechtas.declarationB.title' | translate"></app-topbar>
    <app-sidenav [sideNavItem]="commonService.sideNavItem" [menuList]="'pnvExtendTechtas.sideStepMenu' | translate" [stepNumber]="stepNumber">
    </app-sidenav>
    <div class="col-sm-9 right-panel np-right">
        <form [formGroup]="fillForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
            <div class="container np">
                <div class="content" role="main" id="content">
                    <!-- ----------------------------------------- content ---------------------------------------- -->
                    <div class="panel panel-default">
                        <div class="panel-heading panel-title text-left " style="text-align:left;width:100%">
                            <i
                                class="glyphicon glyphicon-list-alt"></i>&nbsp;{{'pnvExtendTechtas.declarationB.subTitle' | translate}}
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    {{'pnvExtendTechtas.declarationB.0a' | translate}}
                                    <input class="box all-caps" id="0b" type="text">
                                    {{'pnvExtendTechtas.declarationB.0b' | translate}}
                                    <span><input class="box all-caps" id="hkId1" maxlength="8" type="text" style="width: 104px;"></span>
                                    <span>(<input class="box all-caps" id="hkId2" maxlength="1" type="text" style="width: 34px;">)</span>
                                    {{'pnvExtendTechtas.declarationB.0c' | translate}}
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-12 form-group">{{'pnvExtendTechtas.declarationB.1' | translate}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">        
                                    <input class="box all-caps" id="2a" type="text" style="margin-left: 0px;">
                                    {{'pnvExtendTechtas.declarationB.2a' | translate}}                           
                                    <input class="box all-caps" id="hkId1" maxlength="8" type="text" style="width: 104px;">
                                    <span>(<input class="box all-caps" id="hkId2" maxlength="1" type="text" style="width: 34px;">)</span>
                                    {{'pnvExtendTechtas.declarationB.2b' | translate}}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <label class="form-group checkbox-inline"><input id="notChanged" name="marital" type="radio">
                                    {{'pnvExtendTechtas.declarationB.3a' | translate}}
                                
                                    <input class="box all-caps"  name="marital" id="sponsorName2" type="text" >
                                    {{'pnvExtendTechtas.declarationB.3b' | translate}}
                                    {{'pnvExtendTechtas.declarationB.3c' | translate}} 
                                </label> 
                            </div>
                            <div>
                                <label class="col-md-12 form-group checkbox-inline">
                                {{'pnvExtendTechtas.declarationB.4' | translate}}
                                </label>    
                            </div>
                            <br>
                            <br>
                            <div class="row"> 
                                <label class="col-md-12 form-group checkbox-inline"><input id="changed" name="marital"
                                        type="radio">
                                    {{'pnvExtendTechtas.declarationB.5a' | translate}}
                                    <select id="day" name="day" class="box" type="text">
                                        <option value='' disabled selected>
                                            {{'pnvExtendTechtas.declarationB.day' | translate}}
                                        </option>
                                        <option value='00' selected> DD </option>
                                    </select>
                                    <select id="month" name="month" class="box" type="text">
                                        <option value='' disabled selected>
                                            {{'pnvExtendTechtas.declarationB.month' | translate}}
                                        </option>
                                        <option value='00' selected> MM </option>
                                        <option *ngFor="let month of monthList" value="{{month}}">
                                            {{month}}</option>
                                    </select>
                                    <select id="year" name="year" class="box" type="text">
                                        <option value='' disabled selected>
                                            {{'pnvExtendTechtas.declarationB.year' | translate}}
                                        </option>
                                        <option value='0000' selected> YYYY </option>
                                        <option *ngFor="let year of yearsList" value="{{year}}">
                                            {{year}}</option>
                                    </select>    
                                    {{'pnvExtendTechtas.declarationB.5b' | translate}}
                                </label>
                            </div>
                            <div class="row">
                                <label class="col-md-12 form-group checkbox-inline" style="margin-left: 16px;">
                                    {{'pnvExtendTechtas.declarationB.6a' | translate}}
                                </label> 
                            </div>
                            <div class="row" style="margin-left: 16px;">
                                <select id="maritalStatus" name="maritalStatus"
                                class="ng-pristine ng-valid ng-touched box" (selectionChange)="onSelectionChange($event)">
                                <option value='' selected disabled>Please Select</option>
                                <option *ngFor="let item of maritalStatus" [value]="item['value']">{{item['label'] | translate}}</option>
                                </select>
                                                                               
                            </div>
                        </div>
                    </div>
                    <app-signature-pad [ngClass]="signPadService.showSignPad?'show':'hide'" (signed)="onSubmit($event)">
                    </app-signature-pad>

                    <!-- ----------------------------------------- content end ---------------------------------------- -->
                    <!-- ----------------------------------------- button ---------------------------------------- -->
                    <div class="col-md-3 col-sm-3  col-xs-12 m-5000">
                        <button id="submitBtn" value="" name="submitBtn" type="button" class="btn btn-brown btn-block"
                            (click)="backClicked()">{{ 'COMMON.BACK' | translate }}
                        </button>
                    </div>
                    <div class="col-md-3 col-sm-3  col-xs-12 m-5000">
                        <button id="submitBtn" value="" name="submitBtn" type="button"
                            class="btn btn-brown btn-block">{{ 'COMMON.SAVE' | translate }}
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3  col-xs-12 m-5000">
                            <button type="button" class="btn btn-brown btn-block"
                                (click)="signForm()">{{ 'pnvExtendTechtas.declarationB.sign' | translate }}</button>
                        </div>
                    </div>
                    <!-- ----------------------------------------- end button ---------------------------------------- -->
                </div>
            </div>
        </form>
    </div>
</div>